@import "../styles/variables";

.workoutsComponentsContainer {
    // position: relative;
    padding: 0 5vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.workoutsDetailsContainer {
    background: $bg_color;
    border: 5px solid $font_color;
    padding: 0 5vw;
    position: fixed;
    z-index: 6;
    top: 4vh;
    left: 5vw;
    height: 92vh;
    width: 90vw;
    overflow-x: scroll;
    z-index: 10;
    transform: scale(1) translateY(100vh);

    border-radius: 15px;
    box-shadow: 0 0.375em 0 rgba(0, 0, 0, 0.9),
        0px 0px 40px 4px rgba(0, 0, 0, 0.25);

    transition: 700ms $ease_out;

    &.show {
        transform: scale(1);
        left: 5vw;

        @media (max-width: $mobile_breakpoint) {
            left: 0;
        }
    }
    &.hidden {
        pointer-events: none;
        left: 110vw;
        transform: scale(1);
    }

    @media (max-width: $mobile_breakpoint) {
        padding: 0 1vw;
        left: 0;
        top: 0;
        margin: 0;
        width: 100vw;
        height: 100vh;
        transition: 400ms $ease_out;
    }
    .closeButton {
        position: fixed;
        right: 8vw;
        top: 9vh;
        // position: sticky;
        // float: right;
        // right: 2vw;
        // top: 5vh;
        background-color: $bg_color;
        border-radius: 100%;
        @media (max-width: 400px) {
            top: 6vh;
            right: 6vw;
        }
        span {
            padding: 0;
            & > * {
                font-size: 1.5em;
                color: $font_color;
            }
        }
    }
}

.workoutContainer {
    width: 100%;
    .workoutCard_container {
        background-color: $font-color;
        color: $bg_color;
        border-radius: 20px;
        width: 100%;
        padding: 25px 50px;
        margin: 3vh 0;
        margin-left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        transition: 300ms $ease_out;
        box-shadow: 0 0.375em 0 rgba(0, 0, 0, 0.9);

        @media (max-width: $mobile_breakpoint) {
            margin: 2vh 0;
            margin-left: 50%;
            padding: 25px 25px;
        }

        .deleteIcon {
            position: absolute;
            right: 15px;
            top: 15px;
            color: $bg_color;
        }
        h2 {
            padding-bottom: 6px;
            font-size: 2.5em;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        span {
            display: block;
        }
        .description {
            padding: 3px 0;
            opacity: 0.7;
        }
        .date {
            font-weight: bold;
        }
        .exoInfo_container {
            padding: 30px 20px;
            padding-bottom: 0;
            .exoInfo {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1%;
            }

            @media (max-width: $mobile_breakpoint) {
                padding: 30px 0px;
                padding-bottom: 0;
            }
        }
        &:hover {
            background: $primary_yellow;

            color: $font-color;
            transform: translateX(-50%) scale(1.08);
            .deleteIcon {
                color: $font-color;
            }
        }
    }
    h1 {
        font-size: 5vw;
        padding: 7vh 0;
        @media (max-width: 400px) {
            font-size: 4em !important;
        }
    }
    .btAddTraining {
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        cursor: pointer;
        @media (max-width: $mobile_breakpoint) {
            right: 5vw;
            top: -50px;
        }
    }
    .exerciseTable {
        position: relative;
        width: 55vw;
        padding: 4vh 0vw;
        // background: red;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: $mobile_breakpoint) {
            width: 100%;
            padding: 4vh 0vw;
            padding-right: 4vw;
            display: block;
        }
        .content_container {
            position: relative;
            width: 52%;
            @media (max-width: 400px) {
                width: 100%;
                margin-left: 5%;
            }
        }
        .graphique_container {
            // z-index: 2;
            @media (max-width: 400px) {
                // transform: translateX(-50%);
                transform: scale(0.7) translateX(-30%);
            }
            tspan {
                font-size: 1em !important;
            }
        }
        .exoInfo {
            display: flex;
            justify-content: start;
            align-items: center;
            margin-left: 2vw;
            span {
                font-weight: bold;
                font-size: 2em;
            }
        }
        .repsContainer {
            // width: 70%;
            // width: 260%;
            width: 100%;
            padding: 5% 0;
            margin-left: 10%;
            // margin-left: 50%;
            // transform: translateX(-50%);
            @media (max-width: 400px) {
                width: 100%;
                margin-left: 50%;
                transform: translateX(-50%);
            }
            .repRow {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 3% 0;
                font-size: 1.3em;
                @media (max-width: 400px) {
                    font-size: 1em;
                }
                .reps {
                    display: flex;
                    justify-content: space-around;
                    font-weight: 500;
                    width: 40%;
                }
                .weightAndRecupContainer {
                    width: 50%;
                    font-weight: 900;
                    display: grid;
                    grid-template-columns: 130px 100px;
                }
            }
        }
    }
}
